body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#text-color{
    background: linear-gradient(to right, rgb(72, 72, 255), rgb(204, 0, 204));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(211, 208, 208, 0.548);
    backdrop-filter: blur(10px);
    padding-left: 2%;
}
nav{
    text-align: right;
    margin-right: 200%;
    position: relative;
    top: 0%;
}
li{
    display: inline;
    margin: 0 1%;
}
#hire-me{
    display: inline;
    background: linear-gradient(to right, rgb(72, 72, 255), rgb(204, 0, 204), orange);
    padding: 1%;
    border-radius: 1em;
    color: white;
    font-weight: 800;
}
#headings{
    font-size:150%;
    font-weight: 800;
    margin-left: 2%;
}
#Available{
    border: solid 1px rgb(221, 221, 221);
    display: inline;
    padding: 0% 2%;
    border-radius: 1em;
}
#mainborder{
    text-align: center;
    margin-top: 10%;
}
h1{
    font-size: 600%;
}
#first-text{
    font-size: 150%;
    color: rgb(173, 173, 173);
}
#FrontendDeveloper{
    color: black;
}
#view-my-work{
    background: linear-gradient(to right, rgb(72, 72, 255), rgb(204, 0, 204), orange);
    display: inline-block;
    padding: 1% 2%;
    border-radius: 1em;
    color: white;
    font-size: 130%;
    font-weight: 700;
}
#view-my-work:hover{
    transform: scale(1.1);
    transition: 1s;
}
#get-in-touch, #view-all-projects{
    display: inline-block;
    padding: 1% 2%;
    border-radius: 1em;
    color: black;
    font-size: 130%;
    font-weight: 200;
    border: solid 1px rgb(173, 173, 173);
    margin-left: 3%;
}
#get-in-touch:hover{
    border: solid 1px rgb(65, 65, 65);
}
#move{
    font-size: 300%;
    font-weight: 700;
    animation: moving 3s ease-in-out infinite alternate;
}
@keyframes moving {
    0%{transform: translateY(-80%);}
    100%{transform: translateY(20%);}
}
#mainborder2{
    text-align: center;
}
h2{
    font-size: 300%;
}
#subborder{
    display: flex;
}
#subborder2-1{
    width: 40%;
    text-align: left;
    margin-top: 5%;
    margin-right: 5%;
    display: inline-block;
    color: rgb(126, 126, 126);
}
#subborder2-2{
    width: 50%;
    margin-top: 5%;
    display: inline-block;
}
.border{
    display: inline-block;
    width: 45%;
    height: 130px;
    border: solid 1px rgb(191, 191, 191);
    border-radius: 1em;
    margin: 3% 1%;
    text-align: left;
    padding: 2% 1%;
    background-color: white;
}
.border:hover{
    border: solid 1px black;
}
#mainborder3{
    text-align: center;
}
h3{
    font-size: 300%;
}
.border3{
    width: 45%;
    display: inline-block;
    border: solid 1px rgb(173, 173, 173);
    background-color: white;
    border-radius: 1em;
    margin: 1%;
    text-align: left;
    overflow: hidden;
}
img{
    width: 100%;
    border-radius: 1em;
}
img:hover{
    transform: scale(1.1);
    transition: 2s;
}
#mainborder4{
    text-align: center;
}
h4{
    font-size: 300%;
}
.border4{
    width: 29%;
    text-align: left;
    border: solid 1px black;
    border-radius: 1em;
    margin: 1%;
    padding: 1%;
    display: inline-block;
}
#mainborder5{
    text-align: center;
}
h5{
    font-size: 300%;
}
.border5{
    width: 29%;
    border: solid 1px rgb(184, 255, 255);
    display: inline;
    margin: 1%;
    padding: 1%;
    display: inline-block;
    border-radius: 1em;
}
.border5:hover{
    border: solid 1px rgb(65, 195, 255);
}
#border5-container{
    display: inline-block;
}
#mainborder6{
    display: flex;
    flex-direction: column;
}
#mainborder6header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 4%;
}
h6{
    font-size: 300%;
}
#border6-container{
    display: flex;
}
.subborder6{
    border: solid 1px black;
    border-radius: 1em;
    padding: 1%;
    margin: 3% 0;
}
form{
    box-shadow: 0 0 3px #868686;
    padding: 3% 0%;
    width: 40%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    margin: 0% 3%;
}
label{
    padding: 0% 2%;
}
input, textarea{
    margin: 1% 6%;
    padding: 2% 2%;
    border-radius: 1em;
    border: solid 1px rgb(134, 134, 134);
}
textarea{
    margin-top: 5%;
    padding: 5% 2%;
}
#border6{
    width: 40%;
    margin: 0% 3%;
    font-weight: 200;
    display: inline-block;
}
#submit{
    background: linear-gradient(to right, dodgerblue, rgb(35, 42, 244), orange);
    padding: 2% 5%;
    color: white;
    margin: 5%;
    font-size: 105%;
    border-radius: 1em;
    border: solid 1px rgb(134, 134, 134);
}
#submit:hover{
    transform: scale(1.05);
    transition: 2s;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.video-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-container{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.img-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    transparent 60%
  );
  pointer-events: none;
}
#skills{
    display: inine;
}
.skill {
  margin-bottom: 20px;
}

.skill span {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.skill small {
  display: block;
  margin-top: 5px;
  color: #555;
}

.progress {
  width: 100%;
  height: 10px;
  background: #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: #1e90ff;
  border-radius: 10px;
  width: 0;
  animation: load 1.5s ease forwards;
}

/* Skill percentages */
.html { width: 95%; }
.css { width: 85%; }
.js { width: 80%; }
.react { width: 70%; }
.scss { width: 40%;}
.tailwind { width: 75%; }
.rwd { width: 85%; }
.git { width: 70%; }
.github { width: 75%; }

@keyframes load {
  from { width: 0; }
}
@media (max-width: 940px) and (orientation: portrait){
    #mainborder{
        margin-top: 22%;
    }
    #view-my-work, #get-in-touch, #view-all-projects{
        display: block;
        padding: 3%;
        width: max-content;
        margin: 3% auto;
    }
    #subborder2-1{
        display: block;
        width: 90%;
        text-align: center;
    }
    #subborder2-2{
        width: 90%;
    }
    .border{
        width: 90%;
    }
    .border3{
        display: block;
        width: 90%;
        margin: 3% auto;
    }
    .border4{
        display: block;
        width: 90%;
        margin: 4% auto;
    }
    .border5{
        display: block;
        width: 90%;
        margin: 3% auto;
    }
    #border6-container{
        display: block;
    }
    #border6{
        width: 90%;
    }
    #form{
        width: 90%;
    }
}